@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="big-outer-wrapper bg-navy-blue">
   <div class="div-container flex-center">
       <div class="left-side-div bordered">

       </div>
       <div class="right-side-div bg-grey-light">

       </div>
   </div>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
}